@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@import "terminal.css";


* {
  font-family: "JetBrains Mono", monospace;
  white-space: pre-wrap;
  color: white;
  transition: padding .5s ease;
  overflow-x: hidden;
}

/* .App {
  max-width: 800px;
  width: 100vw;

} */


a[href] {
  border: none;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid rgb(98, 15, 124);
}

a[href]:hover {
  padding-left: 10px;
}

@keyframes append-animate {
	from {
		transform: translateX(-50%)
	}
  50% {
    transform: translateX(5%)
  }
	to {
		transform: translateX(0)
	}
}

body {
  background-color: rgb(28, 28, 39);
  display: grid;
  /* justify-content: center;
  align-items: center; */
}

html {
  scroll-behavior: smooth;
}

.title {
  background-color: rgb(43, 41, 49);
  border-radius: 5px;
  width: fit-content;
  text-shadow: 0 0 10px #a719ca;
}

@media(max-width: 700px) {
  *, .terminal-input-container > *, .terminal-input-container *  {
    font-size: .9rem;
  }

  .title {
    font-size: .65em;
  }
}

