@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@import "terminal.css";


* {
  font-family: "JetBrains Mono", monospace;
  white-space: pre-wrap;
  color: white;
  transition: padding .5s ease;
}

.output {
  animation: append-animate .4s linear;
}

a[href] {
  border: none;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid rgb(98, 15, 124);
}

a[href]:hover {
  padding-left: 10px;
}

@keyframes append-animate {
	from {
		opacity: 0;
    transform: translateX(-300px);
	}
  50% {
    transform: translateX(10px);
  }
	to {
		opacity: 1;	
    transform: translateX(0px);
	}
}

body {
  background-color: rgb(28, 28, 39);
}

html {
  scroll-behavior: smooth;
}

.error {
  color: rgb(202, 66, 66);
}

.highlight {
  text-shadow: 0 0 3px #9a49e6;
  color: rgb(167, 57, 200) !important;
}

.incomplete {
  color: lightcoral;
  font-size: .75rem;
  margin-left: 10px;
  text-shadow: 0 0 3px #d06b1e;
}

@media(max-width: 700px) {
  *, .terminal-input-container > *, .terminal-input-container *  {
    font-size: .9rem;
  }

  .ascii-title {
    font-size: .6rem;
  }
}

