.terminal-input-container {
    display: flex;
}

.terminal-input-container * {
    font-size: 1rem;
}

.terminal-input-form {
    display: flex;
}
  
.terminal-input {
    border: 0;
    outline: 0;
    background: transparent;
    margin-left: 5px;
    margin-right: 0;
    color: transparent;
    text-shadow: 0 0 0 #c2c2c2;

}

.terminal-input-old {
    margin-left: 7px !important;
    
}

.terminal-input:focus {
    border-right: 11px solid rgb(97, 97, 97);
    animation-name: cursor-blink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    outline: none;
  }
  
.terminal-input-container {
    align-items: center;
    height: 1.5rem;
    overflow: hidden;
}

.terminal-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.terminal-input-prompt-user {
    color: rgb(87, 211, 180);
}

.terminal-input-prompt-domain {
    color: lightpink;
}

.terminal-input-prompt-folder {
    color: rgb(255, 255, 154);
}

.output {
    animation: append-animate .4s linear;
    width: fit-content;
    margin-left: 40px;
}

.error {
    color: rgb(202, 66, 66);
  }
  
.highlight {
text-shadow: 0 0 3px #9a49e6;
color: rgb(167, 57, 200) !important;
}

.incomplete {
color: lightcoral;
font-size: .75rem;
margin-left: 10px;
text-shadow: 0 0 3px #d06b1e;
}


@keyframes cursor-blink {
    50% {
      border-color: transparent;
    }
  }

@media (max-width: 700px) {
    .output {
        margin-left: 25px;
    }
}